.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 4rem;
    border-radius: 0.5rem;
}

.header-button{
    background-color: var(--color-dark-purple);
    color: var(--color-white);
}

.header-button:hover{
    background-color: var(--color-dark-purple-hover);
}