/* body, html {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
} */

/* Componentes */
.header, .footer, .navbar {
  background: var(--color-dark-purple);
  color: white;
  padding: 1rem;
  text-align: center;
}
.sidebar {
  background: #555;
  padding: 1rem;
  width: 200px;
}
.content {
  padding: 1rem;
  background: white;
}

/* Layouts */
.layout-basic {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-basic .content {
  flex: 1;
}

.layout-classic {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout-classic .content {
  flex: 1;
}

.layout-full .main-area {
  display: grid;
  grid-template-columns: 200px 1fr;
  flex: 1;
}

.layout-dashboard {
  display: grid;
  grid-template-columns: 220px 1fr;
  height: 100vh;
}
.dashboard-content {
  display: flex;
  flex-direction: column;
}