.classes-view-container {
    padding: 20px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.classes-view-descripcion {
    font-size: 24px;
    text-align: center;

    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-react {
    height: 250px;
    width: auto;
    margin: 10px 0;
}

.classes-view-titulo {
    text-align: center;
    font-size: 40px;
    font-weight: bold;

    margin-bottom: 5px;
    /*top=arriba, left=izquierda, right=derecha, bottom=abajo*/
}

.classes-view-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */

    gap: 10px 20px;
}

@media (max-width: 768px) {
    .banner-react {
        height: 200px;
    }

    .classes-view-titulo {
        font-size: 32px;
    }

    .classes-view-descripcion {
        font-size: 16px;
    }
}

@media (max-width: 640px) {
    .banner-react {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .classes-view-list  {
        width: 100%;
    }
}